*{
	margin: 0;
	padding: 0;
}

body{
	background:#eeebeb;	
}

header, .main{
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
}

.main{
	padding-bottom: 1%;
    ;
}

header nav{
	background: #045e08;
	overflow: hidden;
}

header nav ul{
	list-style: none;
}

header nav ul li{
	float:left;
}

header nav ul li a{
	padding: 10px 20px;
	display:block;
	color:#fff;
	text-decoration: none;
}

header nav ul li a:hover{
	background:#75ACEC;
}

h1{
	font-family: "Smooch Sans", sans-serif;
	font-size: 60px;
    text-align: center;
}

h2{
	font-family: "Smooch Sans", sans-serif;
    font-size: 40px;
}

h3{
    font-family: "Farro", sans-serif;
    margin-bottom: 18px;

}

h4{
    font-family: "Farro", sans-serif;
    font-size: 20px;
    
}

h5{
    font-family: "Chau Philomene One", sans-serif;
}

p, li{
	font-size: 20px;
    margin-bottom: 9px;
    margin-top: 9px;
}

.sidebar{
	text-align:left;
    margin:0 auto;
	padding:15px;
	margin:20px;
	width:20%;
	background:#75ACEC;
	float:right;
}


.sidebar ul{
	list-style: none;
}

.sidebar ul li a{
	padding: 10px 5px;
	display:block;
	color:#000000;
	text-decoration: none;
}

.sectitulo{
        width:87%;
        margin:0 auto;
}

.vertical-line{
    background-color: rgb(15, 15, 15);
    width:89%;
    margin:0 auto;
    min-height: 3px;
}

p{
    font-family: "Rosario", sans-serif;
    font-size: 20px;
}

.imagen-noticia{
    width: 70%;
    min-width: 400px;
    padding-right: 5px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    
}

#autor{
    font-family: "Cormorant Upright", serif;
    font-size: 25px;
    font-style:italic;
}

.grid-container{
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 20px;
      padding-left: 40px;
      padding-right: 40px;
}

#gr{
    background-color: rgb(51, 135, 231);
    grid-template-columns: repeat(2, 1fr);
    width:87%;
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */

}

#info{
    background-color:rgb(51, 135, 231);
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5%;
    padding-bottom: 2%;
}

#info a{
    text-decoration:none;
    color: black;
    font-family: "Rosario", sans-serif;
    font-size: 20px;
}

#info a:hover{
    background:white;
    

}

#at{
    padding-top: 25px;
    font-size: 50px;
}

footer{
	background: #333;
	color: white;
	padding: 1em;
	margin-top: 30px;
}

#secu{
    background-color: rgb(117, 114, 114);
}

.imagen-noticias{

    width: 25%;
    min-width: 300px;
    padding-bottom: 10px;
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Establece el margen izquierdo como automático */
    margin-right: auto; /* Establece el margen derecho como automático */

}








.buttons {
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }

  .main .articles{
	width:90%;
	text-align: center;
	margin:0 auto;
}

.main .articles article{
	padding:15px;
	background: #fff;
	margin-bottom: 20px;
	margin-top: 30px;
}

.btn {
    background-color: #19721c; /* Color de fondo */
    border: none;             /* Sin borde */
    color: white;             /* Color del texto */
    padding: 15px 32px;       /* Relleno */
    text-align: center;       /* Alineación del texto */
    text-decoration: none;    /* Sin subrayado */
    display: inline-block;    /* Mostrar en línea */
    font-size: 16px;          /* Tamaño de fuente */
    margin: 4px 2px;          /* Margen */
    cursor: pointer;          /* Cursor de puntero */
    border-radius: 12px;      /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave */
}

.btn:hover {
    background-color: #19721c; /* Color de fondo al pasar el ratón */
}

.btn:active {
    background-color: #3e8e41; /* Color de fondo al hacer clic */
    box-shadow: 0 5px #666;    /* Sombra al hacer clic */
    transform: translateY(4px); /* Movimiento al hacer clic */
}
